<!-- <div class="activities">
    <div class="activities__header">
      <h2>All users</h2>
    </div>
    {% for user in users %} 
        <div class="activities__box">
        <div class="activities__boxHeader roomListRoom__header">
            <a href="{% url 'profile' user.id %}" class="roomListRoom__author">
            <div class="avatar avatar--small">
                <img src="{{user.avatar.url}}" />
            </div>
            <p>
                @{{comment.user.username}}
            </p>
            </a>
        </div>
        </div>
        </div>
    {% endfor %}
  </div> -->

  <div class="topics">
    <div class="topics__header">
      <h2>All users</h2>
    </div>
    <ul class="topics__list">
      <li>
        <a class="active">Browse Users <span>{{usercount}}</span></a>
      </li>
      {% for user in users %}
        <li>
            <a href="{% url 'profile' user.id %}"> <div class="avatar avatar--small"><img src="{{user.avatar.url}}" /></div>{{user.username}}</a>
        </li>
      {% endfor %}
 
    </ul>
    <a class="btn btn--link" href="{% url 'users' %}">
      More
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <title>chevron-down</title>
        <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
      </svg>
    </a>
  </div>

